.question {
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(350, 70%, 80%);
    margin-bottom: 4px;
    margin-top: 12px;
}

section article div:first-of-type .question {
    margin-top: 4px;
}

.answer {
    margin: 4px;
}

#quick_nav ol {
    margin-top: 0px;
    margin-bottom: 16px;
}

#quick_nav ol li {
    margin-top: 0px;
    margin-bottom: 8px;

}

#quick_nav a {
    color: hsl(350, 70%, 90%);
}

#quick_nav a:hover {
    color: hsl(350, 70%, 60%);
}
#quick_nav a:active {
    color: hsl(350, 70%, 40%);
}

@media (max-width: 700px) {
    main {
        grid-template-areas: "aside" "section";
    }
}
