html {
    height: 100%;
}
body {
    font-size: 1.2em;
    min-height:100%;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: 
    "header header header header"
    "nav    nav    nav    nav"
    "nav2   nav2   nav2   nav2"
    "main   main   main   main"
    "footer footer footer footer";
    background-color: hsl(350, 30%, 5%);
    color: hsl(350, 10%, 95%);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color:hsl(350, 70%, 40%);
    font-size: 2em;
    margin: 8px 0;
}

h2 {
    color: hsl(350, 70%, 55%);
    font-size: 1.6em;
    margin: 8px 0;
}
h3 {
    color: hsl(350, 70%, 70%);
    font-size: 1.3em;
    margin: 8px 0;   
}

p {
    margin: 8px 0;
}

ul, ol {
    margin: 8px 0px;
    padding-left: 32px;
}

ul li, ol li {
    margin: 8px 0;
}

strong {
    font-weight: bold;
    color: hsl(350, 70%, 80%);
}

/** Handles the global styling of links and buttons **/
a, button {
    color: hsl(350, 70%, 80%);
}
a:hover, button:hover {
    color: hsl(350, 70%, 60%);
}
a:active, button:active {
    color: hsl(350, 70%, 40%);
}
button {
    padding: 4px 8px;
    background-color: hsl(350, 70%, 20%);
    border: none;
    text-align: center;
}
button:hover {
    background-color: hsl(350, 70%, 16%);
}
button:active {
    background-color: hsl(350, 70%, 13%);
}
button:disabled {
    background-color: hsl(350, 30%, 20%);
    color: hsl(350, 70%, 80%);
}


/** Handles the styling of the header **/
header {
    grid-area: header;
    padding: 10px 1vw;
    background-color: hsl(350, 70%, 10%);
    color: hsl(350, 70%, 40%);
    font-size: 1.4em;
}
header h1 {
    margin: 0;
}

/** Handles the styling of the navigation bar **/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: 'Times New Roman', Times, serif;
}
nav a {
    width: 15vw;
    min-width: 100px;
    text-align: center;
    border-right: 4px solid hsl(350, 30%, 5%);
    border-bottom: 4px solid hsl(350, 30%, 5%);
    flex-grow: 1;
    text-decoration: none;
}
nav a:last-of-type {
    border-right: none;
}
nav a:hover {
    background-color: hsl(350, 70%, 16%);
}
nav a:active {
    background-color: hsl(350, 70%, 13%);
}

#primary_nav {
    background-color: hsl(350, 70%, 25%);
    grid-area: nav;
    font-size: 1.6em;
}

#primary_nav a {
    padding: 10px 4px;
}

#secondary_nav {
    grid-area: nav2;
    font-size: 1.4em;
    background-color: hsl(350, 70%, 18%);
}
#secondary_nav a {
    padding: 8px 4px;
}

.activeNav, .activeNav:hover, .activeNav:active {
    color: hsl(350, 70%, 40%);
    background-color: hsl(350, 70%, 15%);
}

/** Handles the styling of the main content of the page **/

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.2em;
    grid-template-areas: "section aside";
    grid-gap: 8px;
}

main>section {
    grid-area: section;
    padding: 4px 20px;
}

main img {
    width: 15vw;
    max-width: 250px;
    min-width: 100px;
    float: right;
    margin: 4px 2px 4px 6px;
}

main iframe {
    width: 100%;
    height:60vh;
}

/** Handles the formatting of the asides within the main part **/
aside {
    grid-area: aside;
    background-color: hsl(350, 70%, 10%);
    height: 100%;
    margin-top: 4px;
}

aside article {
    margin: 10px;
    padding: 8px;

}

/** Handles the styling of the footer **/
footer {
    grid-area: footer;
    font-style: italic;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

}
footer button {
    padding: 8px;
    width: 50%;
    min-width: 50px;
    font-size: large;
}

@media (max-width: 700px) {
    body {
        font-size: 1.2em;
        min-height:100%;
        box-sizing: border-box;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "nav2"
        "main"
        "footer";
        background-color: hsl(350, 30%, 5%);
        color: hsl(350, 10%, 95%);
        font-family: Arial, Helvetica, sans-serif;
    }
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        font-family: 'Times New Roman', Times, serif;
    }
    nav a {
        width: 100%;
        text-align: center;
        border-right:none;
        border-bottom: 4px solid hsl(350, 30%, 5%);
        flex-grow: 1;
        text-decoration: none;
    }
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.2em;
        grid-template-areas: "section" "aside";
        grid-gap: 8px;
    }
    header {
        width: 100%;
    }
    header h1 {
        margin: 0 auto;
        text-align: center;
    }
    footer button {
        width: 100%;
    }
    
}